<ul class="list-group" id="books-list">
  <% @search.each do |d| %>
    <% d.data["items"].each do |i| %>
      <li class="list-group-item book" >
        <% the_book = i["volumeInfo"] %>
        <% authors = the_book["authors"] %>
        <% if authors.nil? %>
          <% authors = ["No Author Listed"] %>
        <% end %>
        <% image = the_book["imageLinks"]["thumbnail"] %>
                
        <img alt="Book Jacket" class="homepageImages" src=<%= image %> >

        <%= form_for :book, url: books_path do |f| %>
          <fieldset>
          
            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Title</label>
              <div class="col-md-8">
                <%= f.text_field :title, value: the_book["title"], required: true, class: "form-control" %><br>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Author</label>
              <div class="col-md-8">
                <%= f.text_field :author, value: authors, required: true, class: "form-control" %><br>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Publisher</label>
              <div class="col-md-8">
                <%= f.text_field :publisher, value: the_book["publisher"], required: true, class: "form-control" %><br>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Publication Date</label>
              <div class="col-md-8">
                <%= f.text_field :publication_date, value: the_book["publishedDate"], required: true, class: "form-control" %><br>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Synopsis</label>
              <div class="col-md-8">
                <%= f.text_area :synopsis, rows: 10,value: the_book["description"], required: true, class: "form-control" %><br>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="genre">Genre</label>
              <div class="col-md-8">
                <%= f.select :genre, [["Sci-fi", "Sci-fi"], ["Fantasy", "Fantasy"], ["Comic", "Comic"], ["Manga", "Manga"], ["Fiction", "Fiction"], ["Non-Fiction", "Non-Fiction"]], class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-6 control-label" for="current">Are you currently reading this?</label>
                <%= f.check_box :current %>
            </div>

            <%= f.hidden_field :image, value: image%>

            <div class="form-group">
              <div class="col-md-12">
                <%= f.submit "Create Book", class: "btn btn-success pull-right" %>
              </div>
            </div>
            
          </fieldset>
        <% end %>
    <% end %>
  <% end %>


</ul>