<div>
  Welcome, <%= @user.name %>


<div class="container text-center">
  <h2>Your Books</h2>
  <div class="container">
    <% @user.books.each do |book| %>
   
        <%= link_to book do %>

          <li class="list-group-item book" >
            <img alt="Book Jacket" class="homepageImages" src=<%= book.image %> >
            <p><b>Contributor: </b><%= book.user.name %></p>
            <p><b>Title: </b><%= book.title %></p>
            <p><b>Author: </b><%= book.author %></p>
            <p><b>Genre: </b><%= book.genre %></p>
          </li>
        <% end %>

    <% end %>
    </div>
  </div>
</div>

