<div class="container text-center info-box">
  <h2 id="info">Your Information</h2>
  <h4>Name: <%= @user.name %>
  <br>
  Email: <%= @user.email %></h4>

  <div>
    <% if params[:id] == session[:user_id].to_s || params[:action] == "profile" %>
      <div class="col-xs-1 col-xs-offset-4">
        <%= button_to "Edit Profile", edit_user_path(@user.id), method: "get", class: "btn btn-primary" %>
      </div>
      <div class="col-xs-1 col-xs-offset-1">
        <%= button_to "Delete", url_for(action: :destroy, id: @user.id),method: :delete, data: {confirm: "Are you sure you want to delete yourself and all your wonderfull stories that are read by so many of our delighted users?"}, class: "btn btn-danger" %>
      </div>
  <% end %>
  </div>
</div>

<div class="container">
  <h2>Your Books</h2>
  <div class="container">
    <% @user.books.each do |book| %>
      <li class="list-group-item book" >
        <img alt="Book Jacket" class="homepageImages" src=<%= book.image %> >
        <p><b>Contributor: </b><%= book.user.name %></p>
        <p><b>Title: </b><%= book.title %></p>
        <p><b>Author: </b><%= book.author %></p>
        <p><b>Genre: </b><%= book.genre %></p>
        <p><b>Publication Date: </b><%= book.publication_date %></p>
        <p><b>Publisher: </b><%= book.publisher %></p>
        <p><b>Synopsis: </b><%= book.synopsis %></p>
      </li>
    <% end %>
    </div>
  </div>

 
