<div class="page">

  <div class="container profileName "> 
    <h2 id="info">Your Information</h2>
    <h4>Name: <%= @user.name %>
    <br>
    Email: <%= @user.email %></h4>
   
      <% if params[:id] == session[:user_id].to_s || params[:action] == "profile" %>
        <%= button_to "Edit Profile", edit_user_path(@user.id), method: "get", class: "btn btn-primary col-xs-2" %>
        <%= button_to "Delete", url_for(action: :destroy, id: @user.id),method: :delete, data: {confirm: "Are you sure you want to delete yourself and all your wonderfull books and reviews that are read by so many of our delighted users?"}, class: "btn btn-danger col-xs-2" %>
      <% end %>
  
  </div>

  <div class="container ">
    <h2>Your Books</h2>
  </div>

  <div class="container">
    <% @user.books.each do |book| %>
      <ul class="profileDisplay" >
        <img alt="Book Jacket" class="homepageImages" src=<%= book.image %> >
        <p><b>Contributor: </b><%= book.user.name %></p>
        <p><b>Title: </b><%= book.title %></p>
        <p><b>Author: </b><%= book.author %></p>
        <p><b>Genre: </b><%= book.genre %></p>
        <p><b>Publication Date: </b><%= book.publication_date %></p>
        <p><b>Publisher: </b><%= book.publisher %></p>
        <p><b>Synopsis: </b><%= book.synopsis %></p>
        <%= button_to "Edit Book", book_edit_path(book.id), method: "get", class: "btn btn-primary col-xs-2" %>
        <%= button_to "Delete Book", delete_book_path(book.id), method: :delete, data: {confirm: "Are you sure you want to delete this book and all it's reviews?"}, class: "btn btn-danger col-xs-2" %>
      </ul>
    <% end %>
  </div>

</div>
 
