<body class="homepage">

  <div class="top container text-center">
    <h1>Welcome to Read It!</h1>
    <h4>Book reviews and discussion</h4>
  </div>

  <div class="container">
    <%= form_tag(books_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Title, Author or Genre" %>
      <%= submit_tag "Search", class: "btn btn-primary", :name => nil %>
    <% end %>
  </div>

  <!-- Checks to see if someone is logged in prior to displaying button -->
  <% if current_user %> 
    <div class="container">
      <%= link_to "Add Book", new_search_path, class: "btn btn-primary pull-right" %></div>
    </div>
  <% end %>

  <div class="container search">
    <% if @books.blank? %>
      <h4>There are no items that exactly match <%= params[:search] %>. Please note that this search is particular and picky. If it's not spelled correctly it won't match. Please try again.</h4>
    <% end %>
  </div>

  <ul class="list-group" id="books-list">
    <% @books.each do |book| %>
      <li class="col-md-6">
        <div class="book">
          <%= link_to book do %>
            <img alt="Book Jacket" class="homepageImages" src=<%= book.image %> >
          <% end %>
          <h3><%= link_to book.title, book_path(book.id) %></h3>
          <p><%= book.author %></p>
          <p><b><%= book.genre %></b></p>
          <p>Added by <%= link_to book.user.name, user_path(book.user.id) %> on <%= l(book.created_at, format: '%B, %d %Y') %> </p>
          <% if book.reviews.length == 1%>
            <p><b><%= book.reviews.length%></b> Comment</p>
          <% else %>
            <p><b><%= book.reviews.length%></b> Comments</p>
          <% end %>
        </div>
      </li>
    <% end %>
    
  </ul>   
 
</body>    
