<body class="homepage">
    <div class="top container">
      <h1>Welcome to Read It!</h1>
      <h2>Book reviews and discussion</h2>
    </div>

<% if current_user %> 
<!-- Add book button -->

  <div class="container">
    <button type="button" class="btn btn-primary btn-lg pull-right" id="addBook"><%= link_to "Add Book", new_book_path %></button>
  </div>
<% end %>

  <!--Book List Display -->

  <ul class="list-group" id="books-list">
    
    <% @books.each do |book| %>
      <%= link_to book do %>

        <li class="list-group-item book" >
          <img alt="Book Jacket" class="homepageImages" src=<%= book.image %> >
          <p><b>Contributor: </b><%= book.user.name %></p>
          <p><b>Title: </b><%= book.title %></p>
          <p><b>Author: </b><%= book.author %></p>
          <p><b>Genre: </b><%= book.genre %></p>
        </li>
        
      <% end %>
    <% end %>
  
  </ul>   
 
</body>    
