<section id='signup-form' class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <%= form_for :book, url: books_path do |f| %>
        <fieldset>
          <legend>Add A Book</legend>

          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Title</label>
            <div class="col-md-8">
              <%= f.text_field :title, required: true, class: "form-control" %><br>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="author">Author</label>
            <div class="col-md-8">
              <%= f.text_field :author, required: true, class: "form-control" %><br>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="image">Image Url</label>
            <div class="col-md-8">
              <%= f.text_field :image, required: true, class: "form-control" %><br>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="publication_date">Publication Date</label>
            <div class="col-md-8">
              <%= f.text_field :publication_date, required: true, class: "form-control" %><br>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="publisher">Publisher</label>
            <div class="col-md-8">
              <%= f.text_field :publisher, required: true, class: "form-control" %><br>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="synopsis">Synopsis</label>
            <div class="col-md-8">
              <%= f.text_area :synopsis, required: true, class: "form-control" %><br>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <%= f.submit "Create Book", class: "btn btn-success" %>
            </div>
          </div>
          
        </fieldset>
      <% end %>

    </div>
  </div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a Book</h4>
      </div>
 
      <!-- create book form -->
      <div class="modal-body">
        <div class ="addBookForm">
          <form id="createBook">
            <div class="form-group">
              <input type="text" class="form-control" name="contributor" id = "contributor" placeholder="Contributor">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="title" id ="title" placeholder="Title">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="author" id="author" placeholder="Author">
            </div>
            <select name="genre" class="form-control" id="genre">
              <option value="Sci-Fi">Sci-Fi</option> 
              <option value="Fantasy">Fantasy</option> 
              <option value="Comics">Comics</option> 
              <option value="Graphic Novel">Graphic Novel</option>
              <option value="Manga">Manga</option>
              <option value="Drama">Drama</option>
              <option value="Nonfiction">Nonfiction</option>
              <option value="Mystery">Mystery</option>
              <option value="Horror">Horror</option>
              <option value="Anthology">Anthology</option>
              <option value="Biographies">Biographies</option>
              <option value="Autobiographies">Autobiographies</option>
            </select>
            <br>
            <div class="form-group">
              <input type="text" class="form-control" name="publisher" id="publisher" placeholder="Publisher">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="publicationDate" id="publicationDate" placeholder="Publication Date">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="synopsis" id="synopsis" placeholder="Synopsis">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="image" id="image" placeholder="Image Url">
            </div>
          </form>
        </div>
      </div>
      
      <!-- create book modals buttons -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="createBookButton">CREATE BOOK</button>
      </div>
    </div>
  </div>
</div>