<%= javascript_tag do %>
  $(document).ready(function() {

    var randomNum = Math.floor((Math.random()*30)+1);
    var backgroundUrl = '/images/images' + randomNum + '.jpg';
    $('.showpage').css("background", "url(" + backgroundUrl + ") no-repeat center center");

  });
<% end %>

<div class="showpage">

  <ul class="container singleBook">
    <img src=<%= @book.image %> alt="Book Jacket" id="showpageImages">
    <p><b>Contributor: </b><%= @book.user.name %></p>
    <p><b>Title: </b><%= @book.title %></p>
    <p><b>Author: </b><%= @book.author %></p>
    <p><b>Genre: </b><%= @book.genre %></p>
    <p><b>Publication Date: </b><%= @book.publication_date %></p>
    <p><b>Publisher: </b><%= @book.publisher %></p>
    <p><b>Synopsis: </b><%= @book.synopsis %></p>
  </ul>

  <div class="container addReview">

    <h2>Reviews and Discussion</h2>

    <%= form_for :review, url: reviews_path  do |f|%>

      <div class="form-group">
        <%= f.text_area :body, required: true, class: "form-control"%>
        <%= f.hidden_field :book_id, value: params[:id] %>
        <%= f.hidden_field :user_id, value: @book.user.id %>
   
      </div>

      <div class="form-group">
        <%= radio_button_tag(:spoiler, false) %>
        <%= label_tag(:spoiler, "NO SPOILERS HERE") %>
        <%= radio_button_tag(:spoiler, true) %>
        <%= label_tag(:spoiler, "SPOILER ALERT") %>
        
        <%= f.submit "SUBMIT", class: "btn btn-primary pull-right" %>
      </div>

  

    <% end %>
  </div>

</div>





  
    
