<%= javascript_tag do %>

$(document).ready(function() {

  console.log("In JS Script");
  var randomNum = Math.floor((Math.random()*30)+1);
  var backgroundUrl = '/images/images' + randomNum + '.jpg';
  console.log(backgroundUrl);
  $('.showpage').css("background", "url(" + backgroundUrl + ") no-repeat center center");

  $(".spoiler").hide();

  $("#show_spoilers").on("click", function() {
    $(".spoiler").show();
  });


});

<% end %>

<div class="showpage">

  <div class="container showTitle">
    <h1 class="text-center"><%= @book.title %><h1>
    <h3 class="text-center"><%= @book.author %><h3>
  </div>

  <ul class="container singleBook">
    <img src=<%= @book.image %> alt="Book Jacket" id="showpageImages">
    <p><b>Contributor: </b><%= @book.user.name %></p>
    <p><b>Genre: </b><%= @book.genre %></p>
    <p><b>Publication Date: </b><%= @book.publication_date %></p>
    <p><b>Publisher: </b><%= @book.publisher %></p>
    <p><b>Synopsis: </b><%= @book.synopsis %></p>
  </ul>

  <div class="container addReview">
    <h2>Reviews and Discussion</h2>

<% 
=begin %>

    <%= form_for :review, url: book_path  do |f|%>
      <div class="form-group">
        <%= f.text_area :body, required: true, class: "form-control"%>
        <%= f.hidden_field :book_id, value: params[:id] %>
        <%= f.hidden_field :user_id, value: @book.user.id %>
        <%= f.hidden_field :parent_id %>

      </div>

      <div class="form-group">
        <%= f.check_box(:spoiler) %>
        <%= label_tag( "SPOILER ALERT") %>
        <%= f.submit "SUBMIT", class: "btn btn-primary pull-right" %>
      </div>

    <% end %>

<% 
=end %>

  </div>

  <div class="container">
    <button class="btn btn-danger" id="show_spoilers">Show Spoilers</button>
  </div>


   <div class="container">

    <p>Click the button below to start a new thread:</p>
    <p>
      <%= link_to 'Add new topic', new_review_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>

<%= reviews_tree_for @reviews %>
<% 
=begin %>

  <div class="container">
    <% @reviews.each do |review| %>
      <% if review.book_id.to_s == params[:id].to_s %>
        <% review_class = review.spoiler == "1" ? ' spoiler' : ' spoiler-free' %>

        <%= reviews_tree_for @reviews %>

        <div class="review <%= review_class%>">
          <strong><%= review.user.name %></strong>
            <% if review.spoiler == "1" %>
              <span class="center-text pull-right">SPOILER</span>
            <% end %>
          <p><%= review.body %></p>
        </div>

        
      <% end %>
    <% end %>
  </div>

<%
=end %>
</div>