 
<img src=<%= @book.image %> alt="Book Jacket" class="homepageImages">

<p><b>Contributor: </b><%= @book.user.name %></p>

<p><b>Title: </b><%= @book.title %></p>
<p><b>Author: </b><%= @book.author %></p>
<p><b>Genre: </b><%= @book.genre %></p>
<p><b>Publication Date: </b><%= @book.publication_date %></p>
<p><b>Publisher: </b><%= @book.publisher %></p>
<p><b>Synopsis: </b><%= @book.synopsis %></p>




  
    
