<%= javascript_tag do %>

$(document).ready(function() {

  var randomNum = Math.floor((Math.random()*30)+1);
  var backgroundUrl = '/images/images' + randomNum + '.jpg';
  $('.showpage').css("background", "url(" + backgroundUrl + ") no-repeat center center fixed");

  $(".spoiler").hide();

  $("#show_spoilers").on("click", function() {
    $(".spoiler").show();
  });

});

<% end %>

<div class="showpage">

  <div class="container showTitle">
    <h1 class="text-center"><%= @book.title %><h1>
    <h3 class="text-center"><%= @book.author %><h3>
  </div>

  <ul class="container singleBook">
    <img src=<%= @book.image %> alt="Book Jacket" id="showpageImages">
    <p><b>Contributor: </b><%= @book.user.name %></p>
    <p><b>Genre: </b><%= @book.genre %></p>
    <p><b>Publisher: </b><%= @book.publisher %></p>
    <p><b>Publication Date: </b><%= @book.publication_date %></p>
    <p><b>Synopsis: </b><%= @book.synopsis %></p>
  </ul>

  <div class="container addReview">
    <h2>Reviews and Discussion</h2>
  </div>

  <div class="container">
  <% if current_user %> 
    <%= link_to 'Add new topic', new_review_path(@book.id), class: 'btn btn-primary' %>
  <% end %>
    <button class="btn btn-danger" id="show_spoilers">Show Spoilers</button>
  </div>

<%= reviews_tree_for @reviews %>

</div>